@charset "UTF-8";
/* CSS Document */

@import 'reset.css';

html body{
background-color: #f5f4f3;	
}
#logo{
top:100px;
display: block;
width:982px; 
height: 100px;
padding: 0px;
position: relative;
margin: auto;
z-index: 3;	
}
#mainbody{
top:160px;
display: block;
width:982px; 
height: 1560px;
padding: 0px;
position: relative;
margin: auto;
z-index: 3;
}

.aboutme{
margin-top:10px;
width:430px;
position:realtive;
margin-left:330px;
font-family:"Courier New", Courier, mono;
line-height: 150%;
font-size: 15px;
color: #373737;
}
.elsewhere{
margin-top:10px;
width:220px;
position:realtive;
margin-left:250px;
font-family:"Courier New", Courier, mono;
line-height: 150%;
font-size: 15px;
color: #373737;
}
.copyright{
width:400px;
position:realtive;
margin: auto;
margin-top: 300px;
margin-bottom: 60px;
font-family:"Courier New", Courier, mono;
font-size: 12px;
color: #373737;
}
span{
font-size: 12px;
font-weight: bold;color: #da4e35;
}

.largebottom{
background-color: #e5440c;
margin:8px;
width: 306px;
height:306px; 
z-index: 0;
}
.large{
background-color: #e5440c;
margin:8px;
background-color: #000;
width: 306px;
height:306px; 
transition:0.3s;
-webkit-transition: opacity .3s ease-in-out;
-moz-transition: opacity .3s ease-in-out;
-o-transition: opacity .3s ease-in-out;
-ms-transition: opacity .3s ease-in-out;
transition: opacity .3s ease-in-out;
z-index: 3;
}
.large:hover{
opacity: 0;
cursor: pointer;
-webkit-transition: opacity .3s ease-in-out;
-moz-transition: opacity .3s ease-in-out;
-o-transition: opacity .3s ease-in-out;
-ms-transition: opacity .3s ease-in-out;
transition: opacity .3s ease-in-out;
}

.description:hover{
display: block;
}
.small{
margin:8px;
background-color: #000;
width: 145px;
height:145px; 
transition:0.3s;
-webkit-transition: opacity .3s ease-in-out;
-moz-transition: opacity .3s ease-in-out;
-o-transition: opacity .3s ease-in-out;
-ms-transition: opacity .3s ease-in-out;
transition: opacity .3s ease-in-out;
z-index: 3;
}
.small:hover{
opacity: 0;
cursor: pointer;
-webkit-transition: opacity .3s ease-in-out;
-moz-transition: opacity .3s ease-in-out;
-o-transition: opacity .3s ease-in-out;
-ms-transition: opacity .3s ease-in-out;
transition: opacity .3s ease-in-out;
}
.smallbottom{
background-color: #e5440c;
margin:8px;
width: 145px;
height:145px; 
z-index: 0;
}
.top{
float: top;	
}

.horizontal500{
width:100%;
height:30px;
padding:0px;
margin:0px;
background-color: #f5f4f3;
}
.decoration{
font-size: 16px;
color: #d0d0d0;	
font-family: 'Open Sans', sans-serif;
font-weight: 100;
letter-spacing: 1px;
}
.center{
margin:auto; 
position:relative;
margin-bottom:12px;
margin-top:-30px;
display: block;
width: 980px;
margin-left: 18px
}
.expo{
border-bottom: 1px solid lightgrey;
text-decoration: none;
}
.expo:link {color:#1c1c1c;font-weight: 500}    /* unvisited link */
.expo:visited {color:#1c1c1c;} /* visited link */
.expo:hover {color:#818181;}   /* mouse over link */
.expo:active {color:#818181;}  /* selected link */
</style>