@charset "UTF-8";
@import 'reset.css';

/*general CSS*/
body{
  background: #faf9f9;
  padding: 0px;
  margin: 0px;
}

a:focus{
  color: #fff!important;
  text-decoration: none!important;
}

.container{
  max-width: 1920px;
}

/*responsive CSS*/

/*coverstory*/
.coverstory{
  display: block;
  position: relative;
  width:100%;
  min-height:500px;
  background: url('../img/img_eventmap/verytop.png') no-repeat center center #2e2709; 
  background-size:cover;
}

.coverstory .caption{
  top:50%;
  left:120px;
  position: absolute; 
  transform:translate(0,-50%);
  -webkit-transform:translate(0,-50%);
  -moz-transform:translate(0,-50%);
  -o-transform:translate(0,-50%);
}

.coverstory .caption h1{
  font-size: 3em;
  color:#ffffff;
  font-weight: 600; 
  font-family: 'Roboto Slab', serif;
  letter-spacing:1px;
}

.coverstory .caption p{
  font-size: 1.3em;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  line-height: 160%;
  text-decoration: none;
  top:200px;
  left:120px;
  width: 400px;
}

/*problem*/
.problem{
  display:block;
  position:relative;
  width:100%;
  min-height:900px;
  text-align: center;
}

.problem .caption{
  position: absolute;
  top:45%;
  transform:translate(0,-50%);
  -webkit-transform:translate(0,-50%);
  -moz-transform:translate(0,-50%);
  -o-transform:translate(0,-50%);
}

.problem .caption h1{
  padding: 0 200px;
  line-height: 140%;
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.problem .caption p{
  padding: 0 200px; 
  max-width: 1200px;
  margin-bottom: 50px;
  margin:auto;
  z-index: 3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #4a4a4a;
  line-height:160%;
}

/*design thinking*/
.designthinking {
  display:block;
  position:relative;
  width:100%;
  text-align:center;
  background-color: #f5f4f3;
}

/*idea banner*/
.ideabanner{
  display:block;
  position:relative;
  width:100%;
  background-color:#7DBEA5;
}

/*solution*/
.solution{
  display: block;
  position:relative;
  width:100%
  background-color:#f5f4f3;
}

.btnStartInteraction{
  text-transform: uppercase;
  text-align: center;
  color: #0C5;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 2em auto;
  position: relative;
  width:220px;
  height: 50px;
  background: #0D6;
  border: 1px solid #0D6;
  color: #FFF;
  overflow: hidden;
  transition: all 0.5s; 
}

.btnStartInteraction:hover, .btnStartInteraction:active 
{
  text-decoration: none;
  color: #0C5;
  border-color: #0C5;
  background: #FFF;
}

.btnStartInteraction span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  transition: padding-right 0.5s;
}

.btnStartInteraction span:after 
{
  content: '';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;
  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.btnStartInteraction:hover span, .btnStartInteraction:active span 
{
  padding-right: 30px;
}

.btnStartInteraction:hover span:after, .btnStartInteraction:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}

/*control flow*/
.controlFlow{
  display: block;
  position: relative;
  width: 100%;
  /*text-align: center;*/
  background-color: #f5f4f3;  
  min-height: 1600px;
}

.controlFlow .caption{
  position: absolute;
  top:45%;
  transform:translate(0,-50%);
  -webkit-transform:translate(0,-50%);
  -moz-transform:translate(0,-50%);
  -o-transform:translate(0,-50%);
  text-align: center;
}

.controlFlow .caption h1{
  padding: 0 200px;
  line-height: 140%;
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.controlFlow .caption p{
  padding: 0 200px; 
  max-width: 1500px;
  margin-bottom: 50px;
  margin:auto;
  z-index: 3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #4a4a4a;
  line-height:160%;
}

.extLink{
  border-bottom: 1px solid lightgrey;
  text-decoration: none;
}
.extLink:link {color:#1c1c1c;font-weight: 500}    /* unvisited link */
.extLink:visited {color:#1c1c1c;} /* visited link */
.extLink:hover {color:#818181;}   /* mouse over link */
.extLink:active {color:#818181;}  /* selected link */

/*process*/
.process{
  display:block;
  position:relative;
  width:100%;
  /*text-align: center;*/
  background-color:#2d2e31;
}

.hide{
  display:none;
}
.showprocess{
  cursor:pointer;
}
.showprocess:hover{
  opacity:0.7;
}

.footer{
  width:100%;
  /*height:140px;*/
  padding-left:10%;
  position:relative;
  z-index:3;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000;
  line-height: 160%;
  letter-spacing: 0.05em;  
}

.disclaimer{
  width:80%;
}

.scrollup{
  cursor: pointer;
  position: relative;
  float: left;
  z-index: 3;
  font-size: 0.7em;
  font-weight: 300;
  color: #000;
  line-height:160%;
  -webkit-font-smoothing: antialiased;  
  font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif;
  color: #4f4640;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  vertical-align: text-top;
  color: #7b7b7b;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: none;
  text-align: center;
}

.mySlides {
    display:none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev{
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideshowCapText {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.slideshowCapText {font-size: 11px}
}