@charset "UTF-8";
@import 'reset.css';

html {
	overflow-y: scroll;
}

html body{
	background-color: #f5f4f3;
	padding-top: 8rem;
}

.container {
	width: 100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.center {
	margin: auto;
}

.textcenter {
	text-align: center;
}

.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav .navBarItem {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav .navBarItem:hover {
	background-color: #ddd;
	color: black;
}

.filters ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.filters button {
    color: #666; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    border: none;
    background: none;
}

.filters:after {
    content: "";
    clear: both;
    display: table;
}

.filters button:hover {
    background: #e95a44;
    color:#fff;
}

.filters button:active{
	background: #e95a44;
    color:#fff;
}

.filters button:focus {
    background: #e95a44;
    color:#fff;
}

.project-grid-hover {
	z-index: 0;
}

.project-grid {
	transition:0.3s;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	z-index: 3;
}

.project-grid:hover {
	opacity: 0;
	cursor: pointer;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.contact {
	margin-top:10px;
	position:realtive;
	font-family:"Courier New", Courier, mono;
	line-height: 150%;
	font-size: 15px;
	color: #373737;
}

.ext-link{
	border-bottom: 1px solid lightgrey;
	text-decoration: none;
}

.elsewhere {
	margin-top:10px;
	position:realtive;
	font-family:"Courier New", Courier, mono;
	line-height: 150%;
	font-size: 15px;
	color: #373737;
}

.footer {
	position: absolute;
	bottom: 20px;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
	font-family:"Courier New", Courier, mono;
	font-size: 12px;
	color: #373737;
}


/*filter exp*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Filter-Container
---------------------------------------------------------------------- */

.filter-container {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}

.filter-container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

/*.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}*/

.mix {
	display: inline-block;
    vertical-align: top;
    background: #fff;
    border-top: .5rem solid currentColor;
    border-radius: 2px;
    margin-bottom: 102%;
    position: relative;
    z-index: 0;
}

.mix:before {
    content: '';
    display: inline-block;
}

.mix.pink {
    color: #d595aa;
}

.mix.blue {
    color: #5ecdde;
}


/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

/*.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}*/

/* 3 Columns */

/*@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}*/

/* 4 Columns */

/*@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}*/

/* 5 Columns */

/*@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}*/
