@font-face {
    font-family: 'courier_primebold';
    src: url('courier_prime_bold-webfont.eot');
    src: url('courier_prime_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('courier_prime_bold-webfont.woff') format('woff'),
         url('courier_prime_bold-webfont.ttf') format('truetype'),
         url('courier_prime_bold-webfont.svg#courier_primebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'courier_primeitalic';
    src: url('courier_prime_italic-webfont.eot');
    src: url('courier_prime_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('courier_prime_italic-webfont.woff') format('woff'),
         url('courier_prime_italic-webfont.ttf') format('truetype'),
         url('courier_prime_italic-webfont.svg#courier_primeitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'courier_primeregular';
    src: url('courier_prime-webfont.eot');
    src: url('courier_prime-webfont.eot?#iefix') format('embedded-opentype'),
         url('courier_prime-webfont.woff') format('woff'),
         url('courier_prime-webfont.ttf') format('truetype'),
         url('courier_prime-webfont.svg#courier_primeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'avenir_lt_std85_heavy';
    src: url('avenirltstd-heavy-webfont.eot');
    src: url('avenirltstd-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('avenirltstd-heavy-webfont.woff') format('woff'),
         url('avenirltstd-heavy-webfont.ttf') format('truetype'),
         url('avenirltstd-heavy-webfont.svg#avenir_lt_std85_heavy') format('svg');
    font-weight: normal;
    font-style: normal;

}